* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: var(--bg-color);
}

:root {
  --bg-color: #09080d;
  --heading-1-font-size: 3em;
  --tiny-space: 0.25em;
  --small-space: 1em;
  --medium-space: 2em;
  --big-space: 3em;
}

footer {
  padding: var(--small-space);
  background-color: black;
  color: grey;
  text-align: center;
}

.thankyou-footer {
  position: absolute;
  bottom: 0;
}

.thankyou-page-body {
  background-image: linear-gradient(to bottom, var(--bg-color), black);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.thankyou-info-container {
  text-align: center;
}

.no-select {
  user-select: none;
}

.movie-navbar {
  position: fixed;
  display: flex;
  padding: 0.5em;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  border-radius: 8px;
  backdrop-filter: blur(1rem);
  padding: 0 calc(1 / 2 * var(--small-space));
}

.logo {
  max-height: 3em;
  aspect-ratio: 1/1;
}

.burger-toggle {
  cursor: pointer;
  visibility: hidden !important;
  backdrop-filter: blur(1rem);
}

.movie-nav-list {
  padding: var(--small-space);
  display: flex;
  flex-flow: row nowrap;
  border-radius: 8px;
  backdrop-filter: blur(1rem);

  li {
    text-align: center;
    display: inline-block;
    list-style: none;
    margin: 0 0.5rem;

    a {
      transition: color 0.2s, text-underline-offset 0.2s;
      color: grey;
      text-underline-offset: 0.3rem;

      &:hover {
        color: white;
        text-underline-offset: 0.35rem;
      }
    }
  }
}

.learn-more-section {
  background-image: linear-gradient(to bottom, var(--bg-color), black);
  padding-bottom: var(--big-space);
  min-height: 20vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: var(--small-space);
  align-items: center;
}

.learn-more-section-titles {
  text-align: center;
}

.learn-more-form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: var(--tiny-space);
}

.location-dropdown,
.email-input,
.submit-button {
  font-size: 1em;
  padding: calc(var(--small-space));
  background-color: black;
  border: 1px solid grey;
  border-radius: var(--tiny-space);
  color: white;

  option {
    color: white;
  }
}

.submit-button {
  cursor: pointer;
  background-color: red;
  border: none;
  font-weight: 500;
}

.movie-section {
  min-height: 100vh;
  display: flex;
}

.up-next-section {
  flex-direction: row-reverse;
}

.movie-section-left,
.movie-section-right {
  min-height: 100%;
}

.movie-section-left {
  width: 65vw;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: var(--big-space);
}

.now-showing-section .movie-section-left {
  background-image: linear-gradient(
      to bottom,
      var(--bg-color),
      rgba(0, 0, 0, 0) 10%
    ),
    linear-gradient(to left, var(--bg-color), rgba(0, 0, 0, 0) 50%),
    linear-gradient(to top, var(--bg-color), rgba(0, 0, 0, 0) 50%),
    url('/assets/img/now-showing.jpg');
}

.up-next-section .movie-section-left {
  background-image: linear-gradient(
      to bottom,
      var(--bg-color),
      rgba(0, 0, 0, 0) 10%
    ),
    linear-gradient(to right, var(--bg-color), rgba(0, 0, 0, 0) 50%),
    linear-gradient(to top, var(--bg-color), rgba(0, 0, 0, 0) 50%),
    url('/assets/img/up-next.jpg');

  text-align: right;
}

.coming-soon-section .movie-section-left {
  background-image: linear-gradient(
      to bottom,
      var(--bg-color),
      rgba(0, 0, 0, 0) 10%
    ),
    linear-gradient(to left, var(--bg-color), rgba(0, 0, 0, 0) 50%),
    linear-gradient(to top, var(--bg-color), rgba(0, 0, 0, 0) 50%),
    url('/assets/img/coming-soon.jpg');
}

.movie-section-right {
  background-color: var(--bg-color);

  padding: var(--big-space);
}

.movie-section-right-info {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 1fr;
  align-items: start;
}

.movie-section-right-info-item {
  padding: 1rem;
}

.movie-section-cta-tickets {
  display: inline-block; /* ?? */
  border: none;
  border-radius: var(--tiny-space);
  padding: var(--small-space);
  background: red;
  text-decoration: none;
  font-weight: 500;
}

.movie-section-right-heading {
  margin-bottom: var(--tiny-space);
}

.movie-section-right-movie-title {
  font-size: var(--heading-1-font-size);
}

.movie-section-left-movie-label {
  font-size: var(--heading-1-font-size);
}

.movie-description,
.movie-reviews-item,
.movie-reviews-item i,
.subtitle {
  color: grey;
}

.subtitle {
  font-weight: 300;
}

.movie-ratings-list-item {
  &:nth-child(1) b {
    color: lime;
  }

  &:nth-child(2) b {
    color: yellow;
  }

  &:nth-child(3) b {
    color: yellowgreen;
  }
}

.movie-section-movie-image {
  max-height: 100%;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  :root {
    --heading-1-font-size: 2em;
  }

  .burger-toggle {
    visibility: visible !important;
  }

  .movie-nav-list {
    display: none;
  }

  .movie-section {
    min-height: 100vh; /* im sure theres a better way to do this, but ehh */
    width: 100vw;
    flex-direction: column;
  }

  .movie-section-right {
    min-height: fit-content;
    width: 100%;
  }

  .movie-section-left {
    min-height: 50vh;
    padding: var(--medium-space);
    width: 100%;
  }

  .learn-more-form {
    flex-direction: column;
  }

  .location-dropdown,
  .email-input {
    padding: calc(2 * var(--tiny-space));
  }
}
