* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
  color: white;
}

body {
  min-height: 100vh;
  background-color: var(--bg-color);
}

:root {
  --bg-color: #09080d;
  --heading-1-font-size: 3em;
  --tiny-space: 0.25em;
  --small-space: 1em;
  --medium-space: 2em;
  --big-space: 3em;
}

.movie-navbar {
  position: fixed;
  display: flex;
  padding: 0.5em;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  /* gap: 5em; */
  background-image: linear-gradient(
    to bottom,
    var(--bg-color) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.burger-menu {
  display: none !important;
  backdrop-filter: blur(1rem);
}

.movie-nav-list {
  padding: var(--small-space);
  display: flex;
  flex-flow: row nowrap;
  border-radius: 8px;
  backdrop-filter: blur(1rem);

  li {
    text-align: center;
    display: inline-block;
    list-style: none;
    margin: 0 0.5rem;

    a {
      transition: color 0.2s, text-underline-offset 0.2s;
      color: grey;
      text-underline-offset: 0.3rem;

      &:hover {
        color: white;
        text-underline-offset: 0.35rem;
      }
    }
  }
}

.movie-section {
  height: 80vh;
  display: flex;
}

.movie-section-left,
.movie-section-right {
  height: 100%;
}

.movie-section-left {
  width: 65vw;
  background-image: linear-gradient(
      to left,
      var(--bg-color),
      rgba(0, 0, 0, 0) 50%
    ),
    linear-gradient(to top, var(--bg-color), rgba(0, 0, 0, 0) 50%),
    url('../../antonio-costin-IaGm21GKj58-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: var(--big-space);
}

.movie-section-right {
  background-color: var(--bg-color);

  /* display: flex; */
  padding: var(--big-space);
}

.movie-section-right-info {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  align-items: start;
}

.movie-section-right-info-item {
  /* border: 2px solid gray;
  border-radius: 0.5rem; */
  padding: 1rem;
}

.movie-section-cta-tickets {
  display: inline-block; /* ?? */
  border: none;
  border-radius: var(--tiny-space);
  padding: var(--small-space);
  background: red;
}

.movie-section-right-heading {
  margin-bottom: var(--tiny-space);
}

.movie-section-right-movie-title {
  font-size: var(--heading-1-font-size);
}

.movie-section-left-movie-label {
  font-size: var(--heading-1-font-size);
}

.movie-description,
.movie-reviews-item {
  color: grey;
}

.movie-section-movie-image {
  max-height: 100%;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .movie-navbar {
    justify-content: flex-end;
  }

  .burger-menu {
    display: block !important;
  }

  .movie-nav-list {
    display: none;
  }

  .movie-section {
    min-height: 100vh;
    width: 100vw;
    flex-direction: column;
  }

  .movie-section-left-movie-label {
    font-size: 2em;
  }

  .movie-section-right-movie-title {
    font-size: 2em;
  }

  .movie-section-right {
    width: 100%;
  }

  .movie-section-left {
    min-height: 60vh;
    width: 100%;
  }
}
